<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>KML Layers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  
  {% for teste in mapas %}
    <div>
        <p>Região: {{ teste.regiao }}</p>
		<p>Bairro: {{ teste.bairro }}</p>
		<p>Descrição: {{ teste.descricao }}</p>
		<p>Kml: {{ teste.kml }}</p>
		<a href={{ MEDIA_URL }}{{ teste.kml }}></a>
		<p>Mapa: {{ teste.pdf }}</p>
    </div>
{% endfor %}

    <div id="map"></div>
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: -5.34, lng: -49.07}
        });

        var ctaLayer = new google.maps.KmlLayer({
			{% for teste in mapas %}
		  
				url: 'http://pintoadria.pythonanywhere.com/media/{{ teste.kml }}',
			
			{% endfor %}
			
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwyZUPU8ICA80UrlZdzxD_Ld9SsXXzRSU&callback=initMap">
    </script>
  </body>
</html>