{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script type="text/javascript">
	$(document).ready(function(){

$('#select_dropdown').change(function(){
var e = document.getElementById("select_dropdown");
var value = e.options[e.selectedIndex].value;

$.ajax({
    url: "/carro/",
    type: "post", // or "get"
    data: value,
    success: function(data) {

        alert(data.result);
    }});
});	
 
 </script>
 
 
 
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Populating a Select with Django</title>
		   <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    </head>

    <body>
	
	
	
	<header id="menu" class="nav navbar-default">
                <div class="col-lg-5" style="margin-left: 40px; padding-top: 60px;">
                    <a href="/" title="Voltar a pagina inicial" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a>
                </div>
                <div class="col-lg-2">
                    <h1>Áreas</h1>
                    <select name="shapes" id="shapes" class="form-control" data-ng-model="selectShapes" data-ng-change="getPlaceMarker()" data-ng-options="shape.fields.name for shape in shapes"></select>
                </div>
                <div class="col-lg-2" data-ng-show="placemarkers">
                    <h1>Sub Áreas</h1>
                    <select name="subareas" id="subareas" class="form-control" data-ng-model="selectPlaceMarker" data-ng-change="getDetailPlaceMarker()" data-ng-options="placemarker.fields.name for placemarker in placemarkers"></select>
                </div>
                <div class="col-lg-2" style="float: right; margin-right: 10px;">
                    <br><br>
                    <div class="alert alert-info btn-xs" role="alert">
                        Dúvidas para encontrar o arquivo?<a class="btn-link" data-toggle="modal" data-target=".georeferenciamento-modal-lg" title="Saiba mais georeferenciamento">Clique aqui.</a>
                    </div>
                </div>
                <div id="div_files_place" class="col-lg-3" style="float: right; margin-right: -15%; margin-top: 10%;">
                    <div class="list-group" ng-show="files_area">
                        <a href="#" class="list-group-item active" disabled><h4 class="list-group-item-heading">Arquivos Área</h4></a>
                        <div data-ng-repeat="file in files_area">
                            <a href="[[file.file]]" target="_blank" class="list-group-item">[[file.nome]] ([[file.type]])</a>
                        </div>
                    </div>
                    <div class="list-group" ng-show="file_place_shape">
                        <a href="#" class="list-group-item active" disabled><h4 class="list-group-item-heading">Arquivos Sub Área</h4></a>
                        <div data-ng-repeat="file in file_place_shape">
                            <a href="[[file.file]]" target="_blank" class="list-group-item">[[file.nome]]</a>
                        </div>
                    </div>
                </div>
        </header>

        <h1>Populate one dropdown based on selection in another.</h1>

        <p>Change the contents of dropdown Car based on the selection in dropdown Brand, using Django + Javascript:</p>

        <div class="select-style">
            <br />Brand:
            <select required id="brand">
            </select>

            <br />
            <br />Car:
            <select id="car" >
			</select>
			
			            <br />Car2:
            <select id="car2" >
			</select>
        </div>
		

		<input id="txtBox" type="text" disabled>
		
			<br />
			
			{{ kml }}
			
			{{ cars }}

        <script language="javascript">
            $('#brand').change(function() {populateCar()});
			$('#brand').change(function() {populateCar2()});
            var cars = {{ cars|safe }}
			var brands = {{ brands|safe }}
            populateBrand();
            function populateBrand() {
                $("#brand").empty();
                $("#brand").append('<option value="" disabled selected>Select your option</option>');
                $.each(brands, function(v) {
                    $('#brand')
                        .append($("<option></option>")
                        .attr("value", brands[v])
                    .text(brands[v]));
                })
            }
            function populateCar(event) {
                brand = $("#brand option:selected" ).text();
                $("#car").empty();
                $("#car").append('<option value="" disabled selected>Select your option</option>');
                for (let [b, bcars] of Object.entries(cars)) {
                    if (b==brand) {
                        for (car in bcars) {
                            $('#car')
                                .append($("<option></option>")
                                    .attr("value", bcars[car])
                                    .text(bcars[car]));
									

					}		
						
                    }

                }
            
			}
			
			    function populateCar2(event) {
                brand = $("#brand option:selected" ).text();
                $("#car2").empty();
                $("#car2").append('<option value="" disabled selected>Select your option</option>');
                for (let [b, bcars] of Object.entries(kml)) {
                    if (b==brand) {
                        for (car in bcars) {
                            $('#car2')
                                .append($("<option></option>")
                                    .attr("value", bcars[car])
                                    .text(bcars[car]));
					}		
						
                    }
                }
            
			}
			           
        </script>
		
		
<script>
$("#car").change(function () {
    var selectedValue = $(this).val();
    $("#txtBox").val($(this).find("option:selected").attr("value"))
});

</script>
		

		<div id="map"></div>
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: -5.34, lng: -49.07}
        });

        var ctaLayer = new google.maps.KmlLayer({
			{% for teste in mapas %}
		  
				url: 'http://pintoadria.pythonanywhere.com/media/{{ teste.kml }}',
			
			{% endfor %}
			
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwyZUPU8ICA80UrlZdzxD_Ld9SsXXzRSU&callback=initMap">
    </script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
<script type="text/javascript" src="/static/place/js/angularjs.js"></script>

    </body>
</html>