{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script type="text/javascript">
	$(document).ready(function(){

$('#select_dropdown').change(function(){
var e = document.getElementById("select_dropdown");
var value = e.options[e.selectedIndex].value;

$.ajax({
    url: "/carro/",
    type: "post", // or "get"
    data: value,
    success: function(data) {

        alert(data.result);
    }});
});	
 
 </script>
 
 
 
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Populating a Select with Django</title>
		   <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    </head>

    <body>

        <h1>Populate one dropdown based on selection in another.</h1>

        <p>Change the contents of dropdown Car based on the selection in dropdown Brand, using Django + Javascript:</p>

        <div class="select-style">
            <br />Brand:
            <select required id="brand">
            </select>

            <br />
            <br />Car:
            <select id="car" >
			</select>
			
			            <br />Car2:
            <select id="car2" >
			</select>
        </div>
		

		<input id="txtBox" type="text" disabled>
		
			<br />
			
			{{ kml }}


        <script language="javascript">
            $('#brand').change(function() {populateCar()});
			$('#brand').change(function() {populateCar2()});
            var cars = {{ cars|safe }}
			var brands = {{ brands|safe }}
            populateBrand();
            function populateBrand() {
                $("#brand").empty();
                $("#brand").append('<option value="" disabled selected>Select your option</option>');
                $.each(brands, function(v) {
                    $('#brand')
                        .append($("<option></option>")
                        .attr("value", brands[v])
                    .text(brands[v]));
                })
            }
            function populateCar(event) {
                brand = $("#brand option:selected" ).text();
                $("#car").empty();
                $("#car").append('<option value="" disabled selected>Select your option</option>');
                for (let [b, bcars] of Object.entries(cars)) {
                    if (b==brand) {
                        for (car in bcars) {
                            $('#car')
                                .append($("<option></option>")
                                    .attr("value", bcars[car])
                                    .text(bcars[car]));
					}		
						
                    }
                }
            
			}
			
			    function populateCar2(event) {
                brand = $("#brand option:selected" ).text();
                $("#car2").empty();
                $("#car2").append('<option value="" disabled selected>Select your option</option>');
                for (let [b, bcars] of Object.entries(kml)) {
                    if (b==brand) {
                        for (car in bcars) {
                            $('#car2')
                                .append($("<option></option>")
                                    .attr("value", bcars[car])
                                    .text(bcars[car]));
					}		
						
                    }
                }
            
			}
			           
        </script>
		
		
<script>
$("#car").change(function () {
    var selectedValue = $(this).val();
    $("#txtBox").val($(this).find("option:selected").attr("value"))
});

</script>
		

		<div id="map"></div>
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: -5.34, lng: -49.07}
        });

        var ctaLayer = new google.maps.KmlLayer({
			{% for teste in mapas %}
		  
				url: 'http://pintoadria.pythonanywhere.com/media/{{ teste.kml }}',
			
			{% endfor %}
			
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwyZUPU8ICA80UrlZdzxD_Ld9SsXXzRSU&callback=initMap">
    </script>

    </body>
</html>