{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script type="text/javascript">
	$(document).ready(function(){

$('#select_dropdown').change(function(){
var e = document.getElementById("select_dropdown");
var value = e.options[e.selectedIndex].value;

$.ajax({
    url: "/carro/",
    type: "post", // or "get"
    data: value,
    success: function(data) {

        alert(data.result);
    }});
});	
 
 </script>
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Populating a Select with Django</title>
		   <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    </head>

    <body>

        <h1>Populate one dropdown based on selection in another.</h1>

        <p>Change the contents of dropdown Car based on the selection in dropdown Brand, using Django + Javascript:</p>

        <div class="select-style">
            <br />Brand:
            <select required id="brand">
            </select>

            <br />
            <br />Car:
            <select id="car" >
			</select>
        </div>
		
		<input id="txtBox" type="text">
		
		<br />

<div class="projeto">
  <h1>Este é o projeto 1</h1>
  <p class="btn" id="1" style="cursor: pointer">Clique para mais dados sobre este projeto</p>
</div>
<div class="projeto">
  <h1>Este é o projeto 2</h1>
  <p class="btn" id="2"  style="cursor: pointer">Clique para mais dados sobre este projeto</p>
</div>


<script type="text/javascript">
  $(document).ready(function(){

    $('.btn').click(function(){
      var id = $(this).attr('id');
      $.get('/carro/' + id, function(resposta){
          // Na variável resposta estará o retorno da sua view
          alert(resposta);
      });
    });

  });
</script>

        <script language="javascript">
            $('#brand').change(function() {populateCar()});
            var cars = {{ cars|safe }}
            var brands = {{ brands|safe }}
            populateBrand();
            function populateBrand() {
                $("#brand").empty();
                $("#brand").append('<option value="" disabled selected>Select your option</option>');
                $.each(brands, function(v) {
                    $('#brand')
                        .append($("<option></option>")
                        .attr("value", brands[v])
                    .text(brands[v]));
                })
            }
            function populateCar(event) {
                brand = $("#brand option:selected" ).text();
                $("#car").empty();
                $("#car").append('<option value="" disabled selected>Select your option</option>');
                for (let [b, bcars] of Object.entries(cars)) {
                    if (b==brand) {
                        for (car in bcars) {
                            $('#car')
                                .append($("<option></option>")
                                    .attr("value", bcars[car])
                                    .text(bcars[car]));
											}
function () {
    var selectedValue = $(this).val();
    $("#txtBox").val($(this).find("value").attr("value"))											
						
                    }
                }
            
			}
        </script>
		
		
<script>
$("#myDropdown").change(function () {
    var selectedValue = $(this).val();
    $("#txtBox").val($(this).find("option:selected").attr("value"))
});

</script>
		
		<form method = "post" action = "/carro/">
{% csrf_token %}
<select name = "drop1" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
</select>
<input  type = "submit" value="Submit">
</form>
		
		{{ a }}
		------
		
		<select id="select_dropdown">
  <option value="joshua">joshua</option>
  <option value="peter">peter</option>
  </select>
  {{ data }}

-----/teste/
<div class="container">
   <div class="jumbotron">
   <h1 class="text-center display-4">User Panel</h1>
   <p class="lead text-center">This is sample example for integration of AJAX with Django</p>
   <p class="lead text-center">GET the user details for selected user. 
	 Please create some users(if not created)</p>
   </div>
   <div class="row justify-content-center align-items-center">
   <div class="col-4">
   	<label>Select Username</label>
   	<select class="form-control" id = "users">
   		<option selected="true" disabled="disabled">Select user</option>
   		{% for uname in usernames %}
   			<option value = {{uname.username}}>{{uname.username}}</option>
   		{% endfor %}
   	</select>
   </div>
   <div class="col-9" id = "user_info">
   	<hr />
   	<table class="table table-stripped table-fixed">
		<thead>
			<tr>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Email</td>
				<td>is_active</td>
				<td>Date Joined</td>
			</tr>
		</thead>
   		<tbody>
   		</tbody>
   	</table>
   </div>
   </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
   $("#car").change(function(e){
   	e.preventDefault();
   	var username = $(this).val();
   	var data = {username};
   	$.ajax({
				type : 'GET',
							url :  "{% url 'carro' %}",
					data : data,
					success : function(response){
						$("#user_info table tbody").html(`<tr>
							<td>${response.user_info.kml || "-"}</td>
							</tr>`)
   		},
   		error : function(response){
   			console.log(response)
   		}
   	})
   })
})
</script>
-----/teste/	
		<div id="map"></div>
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: -5.34, lng: -49.07}
        });

        var ctaLayer = new google.maps.KmlLayer({
			{% for teste in mapas %}
		  
				url: 'http://pintoadria.pythonanywhere.com/media/{{ teste.kml }}',
			
			{% endfor %}
			
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwyZUPU8ICA80UrlZdzxD_Ld9SsXXzRSU&callback=initMap">
    </script>

    </body>
</html>