{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Populating a Select with Django</title>
		   <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    </head>

    <body>

        <h1>Populate one dropdown based on selection in another.</h1>

        <p>Change the contents of dropdown Car based on the selection in dropdown Brand, using Django + Javascript:</p>

        <select Id="myDropdown">
    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>

<input id="txtBox" type="text">

<script>
$("#myDropdown").change(function () {
    var selectedValue = $(this).val();
    $("#txtBox").val($(this).find("option:selected").attr("value"))
});

</script>
    </body>
</html>